* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  transition: 0.3s all;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.login__logo {
  width: 70%;
}

.login__link {
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 99px;
  font-weight: 700;
  background-color: #1db954;
}

/* Player */

.player {
  display: flex;
  flex-direction: column;
}

.player__body {
  display: flex;
  flex-grow: 1;
  max-height: 100vh;
  overflow: hidden;
}

/* Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 230px;
  height: 100vh;
  color: white;
  background-color: #040404;
  transition: 0.3s all;
}

.sidebar__title {
  margin-left: 10px;
  padding: 5px;
  font-size: 13px;
  letter-spacing: 5px;
  font-weight: bold;
}

.sidebar__logo {
  margin-right: auto;
  object-fit: contain;
  height: 70px;
  padding: 10px;
}

/* SidebarOption */

.sidebarOption {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 40px;
  color: grey;
  transition: 200ms color ease-in;
}

.sidebarOption:hover {
  color: white;
}

.sidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}

.sidebarOption__icon {
  padding-left: 10px;
  padding-right: 10px;
}

.sidebarOption > p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}

/* Body */

.body {
  padding: 30px;
  width: 100%;
  height: 100vh;
  overflow-y: overlay;
  flex: 0.8;
  color: white;
  background: linear-gradient(transparent, rgba(0, 0, 0, 1));
  background-color: rgb(91, 87, 115);
}

.body::-webkit-scrollbar {
  display: none;
}

.body__info {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.body__shuffle {
  font-size: 80px !important;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.body__icons {
  display: flex;
  align-items: center;
}

.body__icons > .MuiSvgIcon-root {
  margin-right: 20px;
}

.body__shuffle:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
}

.body__background {
  position: absolute;
  top: 13vh;
  right: 0;
  opacity: 0.4;
  height: 80%;
  width: 80%;
  background-color: black;
}

.body__songs {
  z-index: 1;
  margin: 20px -30px;
}

.body__info > img {
  height: 20vw;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body__infoText {
  flex: 1;
}

.body__infoText > h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.body__infoText > p {
  font-size: 14px;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__left {
  flex: 0.4;
  display: flex;
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  color: gray;
  align-items: center;
}

.header__left > input {
  border: none;
  width: 100%;
}

.header__right > h4 {
  margin-left: 10px;
}

/* SongRow */

.songRow {
  margin-left: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 100;
  color: white;
}

.songRow:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
}

.songRow__info {
  margin-left: 20px;
}

.songRow__info > h1 {
  font-size: 16px;
}

.songRow__info > p {
  font-size: 14px;
  margin-top: 3px;
  color: gray;
}

.songRow__album {
  height: 40px;
  width: 40px;
}

/* Footer */

.footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  padding: 20px 0px;
  height: 55px;
  width: 100%;
  background-color: #1d1d1d;
  z-index: 10;
  max-width: 100vw;
}
.footer__right * .MuiSlider-root {
  color: green;
}
.footer__left {
  display: flex;
  align-items: center;
  color: white;
  width: 300px;
  flex: 0.3;
  margin-left: 20px;
}

.footer__green {
  color: #1ed15e;
}

.footer__center {
  flex: 0.4;
  max-width: 300px;
  padding: 0 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__icon:hover,
.footer__green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}

.footer__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex: 0.3;
  margin-right: 20px;
}

.footer__albumLogo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}

.footer__songInfo > h4 {
  margin-bottom: 5px;
}

.footer__songInfo > p {
  font-size: 12px;
}

.artist__row {
  display: flex;
  overflow-x: scroll;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

.artist__image {
  border-radius: 50%;
  margin: 20px;
}

.artist__name {
  font-size: 1rem;
}

.artist__row::-webkit-scrollbar {
  display: none;
}

.search__input {
  font-size: 0.9rem;
  height: 100%;
  border: none;
  text-decoration: none;
  outline: none;
  margin-left: 10px;
}

.playlist__container {
  overflow-x: scroll;
}

.playlist__container::-webkit-scrollbar {
  display: none;
}

.playback {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.playback__loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 0;
}

.playback__player {
  position: absolute;
  z-index: 1;
}

.playback__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
}

.full__icon {
  position: absolute;
  z-index: 5;
  top: 20;
  right: 50;
  font-size: 5rem;
  margin: 20px;
  cursor: pointer;
  color: grey;
}

.close {
  min-width: 0;
}

.dropbtn {
  background-color: transparent;
  color: grey;
  padding: 6px;
  font-size: 16px;
  border: 2px solid grey;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 20;
  z-index: 5;
  right: 20;
  margin: 60px 0px;
  padding: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  margin-left: 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(197, 197, 197);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 6;
}

/* Links inside the dropdown */
.dropdown-content .a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content .a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: transparent;
}

/* Loader */
.lds-ripple {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.hide {
  opacity: 0;
  display: none;
}
